# Data (if large)
data/raw/
data/processed/
*.csv
*.pkl
*.h5

# Notebook checkpoints
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
.env
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# Model artifacts
models/*.pkl
models/*.h5

# Deployment
app/__pycache__/
*.log
