# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Logs
*.log
tunnel.log
streamlit.log
api.log

# OS files
.DS_Store
Thumbs.db

# Model files (if too large, but this one is small)
# fraud_detection_model.pkl   # <-- you can include or exclude
